<div class="jumbotron jumbotron-fluid" id="jumbotron-custom">
  <div class="container">
    <h1 class="display-4 text-light">Friendly Bakery</h1>
    <p class="lead text-light">Thank you for signing up! We will email you shortly!</p>
    <p class="text-light">Join our newsletter for our catalog and stock updates!</p>
    <button class="btn"><a href="/">Home</a></button>
  </div>
</div>
