<div class="jumbotron jumbotron-fluid" id="jumbotron-custom">
  <div class="container">
    <h1 class="display-4 text-light">Friendly Bakery</h1>
    <p class="lead text-light">Service with a <em>smile</em> 😀 !</p>
    <p class="text-light">Join our newsletter for our catalog and stock updates!</p>
    <form action="/email" method="POST">
      <input type="email" name="email" placeholder="Enter your email"></input>
      <button type="submit" class="btn btn-primary bg-info">Submit</button>
    </form>
  </div>
</div>

<div class="card-group">

  <div class="card">
    <img class="card-img-top" src="images/bakery-dessert-food-8279.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="/muffins">Muffins</a></h5>
      <p class="card-text">DO YOU KNOW THE MUFFIN MAN? -The Ginger Bread Man</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">5 New Styles</small>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="images/bakery-chocolate-cookies-6859.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="/cookies">Cookies</a></h5>
      <p class="card-text">C IS FOR COOKIE! -Cookie Monster</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">2 New Styles</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/baked-bakery-baking-709841.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="/cakes">Cakes</a></h5>
      <p class="card-text">"CAKE CAKE CAKE CAKE CAKE CAKE CAKE" -Rihanna</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">1 New Style</small>
    </div>
  </div>
  
</div>